@font-face {
  font-family: 'Proximanova';
  src: url('/fonts/fonnts.com-ProximaNova-Semibold.ttf') format('truetype');
}
@font-face {
  font-family: 'Proximasans';
  src: url('/fonts/fonnts.com-ProximaSansRegular.ttf') format('truetype');
}