*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.footerimg{
    min-height: 95vh;
    background-image: linear-gradient(90deg, rgba(4, 13, 18, 0.70) 0%, #040F12 30.29%, #040E12 70%, rgba(16, 4, 18, 0.70) 100%),url("/backgroundimage.png");
    background-size: contain;
    padding-top: 90px;
     overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
}
.faqtitle h2{
    font-size: 100px;
    color: var(--K26-Silver, #E0E3E8);
text-align: center;
font-family: "Overpass";
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 125%; 
}
.faqline{
    width: 147px;
height: 4px;
background: linear-gradient(144deg, #00F7FF 12.5%, #009FE8 86%);
margin: 10px auto 0 auto;
}

.faq-list {
  width: 50%;
  margin: 64px auto;
  font-family: "Overpass";
  color: #fff;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.faq-item { 
  /* border: 1px dashed var(--ESummit-Purple-700, #CF00FF);  */
  padding: 12px 16px;
  cursor: pointer;
  margin-bottom: 24px;
  background: var(--Cards-BG, linear-gradient(180deg, #022E66 0%, #001E21 100%), #FFF);
  user-select: none;       
  outline: none;    
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  border: 1px solid #00F7FF;
  border-radius: 8px;
}


.faq-item i{
    font-size: 1.8rem;
}

.faq-question {
  font-size: 1.1rem;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: color 0.3s;
  gap:30px;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.faq-question:hover {
  color: #00F7FF;
}

.faq-answer {
  margin-top: 10px;
  font-size: 16px;
  font-family: "Proximasans";
  color: #ccc;
  line-height: 1.5;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
@media(max-width: 850px){
    .faq-list{
        width: 70%;
    }
}
@media(max-width: 600px){
    .faq-list{
        width: 90%;
    }
}
@media(max-width: 489px){
    .faq-list{
        width: 95%;
    }
    .faq-question{
      font-size: 16px;
    }
    .faq-answer{
      font-size: 16px;
    }
    .faqtitle h2{
      font-size: 40px;
    }
}