* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footerblack {
  min-height: 60vh; 
  background-color: black;
  color: white;
  padding: 30px 24px;
  display: flex;
  flex-direction: column;
}

.footcontainer{
    border-radius: 32px;
    background: linear-gradient(90deg, #17001D 0%, #270031 100%);
    flex:1;
    width: 100%;
    padding: 44px 56px;
}

.foottop{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
}

.footleft{
    width: 50%;
    order: 1;
}
.imgcontent{
    display: flex;
    align-items: center;
    gap:24px;
}

.imgcontent img:nth-child(1){
  width: 290px;
  height: 55px;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.imgcontent img:nth-child(3){
  width: 150px;
  height: 60px;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.lowerimg{
    margin-top: 24px;
    color: var(--Neutrals-Black-500, #CCC);
    font-family: "Proximasans";
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 150%; /* 24px */
}
.address{
    order: 3;
    margin-top: -120px;
    user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.address h2{
    margin-bottom: 16px;
    margin-top: 45px;
    font-family: "Overpass";
}
.address p{
    color: var(--Neutrals-Black-500, #CCC);
font-size: 16px;
font-family: "Proximasans";
font-style: normal;
font-weight: 500;
line-height: 150%; /* 24px */
}
.footright{
    width: 45%;
    order: 2;
}

.footcontact h2{
    font-family: "Overpass";
    margin-top: 10px;
    margin-bottom: 16px;
}
.contactcontent{
    display: flex;
    gap:60px;
}

.phonecont{
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    gap:12px;
    user-select: none;
  -webkit-tap-highlight-color: transparent;
}


.phonecont i{
    font-size: 1.4rem;
    color: var(--Neutrals-Black-500, #CCC);
}

.phonecont p{
    margin: 0;
    color: var(--Neutrals-Black-500, #CCC);
font-size: 15px;
font-style: normal;
font-family: "Overpass";
font-weight: 500;
line-height: 1; 
user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.conleft h3{
    margin-bottom: 8px;
    color: #FFF;
    font-family: "Proximanova";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 24px */
}
.conleft h3:nth-child(4){
    margin-top: 16px;
}
.conright h3{
    margin-bottom: 8px;
    color: #FFF;
    font-family: "Proximanova";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 24px */
}
.conright h3:nth-child(4){
    margin-top: 16px;
}

.context{
    margin-top: 28px;
    color: var(--Neutrals-Black-500, #CCC);
font-size: 16px;
font-family: "Proximasans";
font-style: normal;
font-weight: 500;
line-height: 150%; /* 24px */
}

.divider{
    width: 100%;
  background-color: #ccc;
  margin: 0 20px;
  height: 1px;
  margin:21px auto;
}

.footbottom{
    display: flex;
    justify-content: space-between;
    font-family: "Proximasans";
}
.footbottom div:nth-child(2){
    margin-top: 17px;
}

@media (max-width: 1200px) {
    .foottop{
        flex-wrap: wrap;
    }
    .footleft,
  .footright {
    width: 100%;
  }
  .footcontact h2{
    margin-top: 16px;
  }
  .address{
        margin-top: 1px;
    }
}
@media (max-width: 879px) {
    .footbottom div:nth-child(2)
    {
        display: none;
    }
}
@media (max-width: 680px) {

    .imgcontent img:nth-child(1){
        width: 210px;
        height: 43px;
    }
    .imgcontent img:nth-child(3){
        width: 130px;
        height: 50px;
    }
    .contactcontent{
        flex-wrap: wrap;
        gap:0;
    }
    .conleft,.conright{
        width: 100%;
    }
    .conright{
        margin-top: 8px;
    }

    .lowerimg{
        display: none;
    }
    .context{
        display: none;
    }
    .footcontact h2{
        margin-top: 48px;
        font-size: 1.5rem;
    }
    .conleft h3{
        font-size: 1rem;
    }
    .phonecont i{
        font-size: 0.9rem;
    }
    .phonecont p{
        font-size: 14px;
        font-weight: 400;
    }
    .address h2{
        font-size: 1.5rem;
    }
    .address p{
        font-size: 1rem;
    }
}
@media (max-width: 520px) {
    .imgcontent img:nth-child(1){
        width: 230px;
        height: 45px;
    }
    .imgcontent img:nth-child(3){
        width: 120px;
        height: 47px;
    }
    .imgcontent img:nth-child(2){
        display: none;
    }
    .imgcontent{
        justify-content: space-between;
    }
    .footcontainer{
        padding:24px 20px;
    }
}
@media (max-width: 458px) {
    .imgcontent img:nth-child(1){
        width: 180px;
        height: 35px;
    }
    .imgcontent img:nth-child(3){
        width: 120px;
        height: 47px;
    }
}
@media (max-width: 410px) {
    .imgcontent img:nth-child(1){
        width: 155px;
        height: 33px;
    }
    .imgcontent img:nth-child(3){
        width: 95px;
        height: 38px;
    }
    .imgcontent{
        gap:20px;
    }
}