* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.whitegallery {
  font-family: "Roboto", sans-serif;
  min-height: 110vh;
    background-image: linear-gradient(90deg, rgba(4, 13, 18, 0.70) 0%, #040F12 30.29%, #040E12 70%, rgba(16, 4, 18, 0.70) 100%),url("/backgroundimage.png");
    background-size: contain;
  padding: 5% 4% 4% 4%;
}

.gallerytitle h2{
  font-size: 48px;
  color: var(--K26-Silver, #E0E3E8);
text-align: center;
font-family: "Overpass";
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 125%; 
}

.galleryline{
    width: 147px;
height: 4px;
background: linear-gradient(144deg, #00F7FF 12.5%, #009FE8 86%);
margin: 10px auto 0 auto;
  margin-bottom: 40px;
}

@keyframes mansorymark {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-33.33%);
  }
}

@media (max-width: 600px) {
  .galleryheading{
    text-align: center;
  }

}